body {

 font-family: verdana, geneva, arial, sans-serif;

 background-color: white;

 color:           black;

}



#main {

  width:     800px;

  position:  relative;

  margin-left: auto;

  margin-right: auto;

}

.template {

  width:     800px;

  position:  relative;

  margin-left: auto;

  margin-right: auto;

}



#header {

  height:    191px;  

  width:     800px;

  position:  relative;

  margin-left: auto;

  margin-right: auto;

}

.zero	{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

p {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.paragrafosArt {
	
  width:    162px;

  height:   162px;
  
  position: absolute;
  
  margin-right: 0px;

}

.paragrafosArtLeft {
  
  margin-left: 122px;
  text-align: right;

}

.paragrafosArtRight {
	
  margin-left:  518px; 
  text-align:    left;

}

#paragrafo1 {

  margin-top:-290px;

}

#paragrafo2 {

   margin-top: -482px;

}  


#paragrafo3 {

  margin-top:-677px;

}

#paragrafo4 {

  margin-top:-877px;

}

#paragrafo5 {

  margin-top:-1092px;

}

#paragrafo6 {

  margin-top:-1292px;

}

#paragrafo7 {

  margin-top:-1502px;

}

#paragrafo8 {

  margin-top:-1687px;

}

#paragrafo9 {

  margin-top:-1900px;

}

#paragrafo10 {

  margin-top:-2100px;

}

#paragrafo11 {

  margin-top:-2295px;

}

#paragrafo12 {

  margin-top:-2505px;

}

#paragrafo13 {

  margin-top:-2705px;

}

#paragrafo14 {

  margin-top:-2910px;

}

#paragrafo15 {

  margin-top:-3120px;

}

.discurso {
  margin-left: 100px; 
  margin-right: 100px; 
  text-align: justify; 
  line-height: 1.75; 
  margin-bottom: 20px	
}

.discursoFinal {
  margin-bottom: 0px;	
}

a {

  text-decoration: none;

  color: #00008B;

}



a:link {

  color: #00008B;

}



a:visited {

  color: #00008B;

}



a:active {

  color: #006400;

}



a:hover {

  color: #006400;

}

.below {
	margin-bottom: 53px;
}

#rodape {

  position: relative;

  text-align: center;
  
  margin-left: auto;
  
  margin-right: auto;
  
  margin-top: 53px;
  
  margin-bottom: 20px;
  

}

.mirror {
     transform: rotateY(180deg);
}

img {
     display:block; margin:0; padding:0; width:101%; height:101%;
}
